@import url('https://fonts.googleapis.com/css?family=Anton');
@import url('https://fonts.googleapis.com/css?family=Lato|Passion+One');
@import url('https://fonts.googleapis.com/css?family=Roboto');

*,*::before,*::after {
  margin: 0;
  padding:0;
  box-sizing: border-box;
}
.container {
  max-width: 700px;
  margin: 0 auto;
}
.navigationText {
  text-align: center;
  margin: auto 0px;
}
.navigationText > a {
    text-decoration: none;
}
.navigation {
  height: 100px;
  background-color: #E0E6EC;
}
.navigation > li {
    margin: auto 20px;
}
.navigationText > a:link {
  color: white;
}
.navigationText > a:visited {
  color: white;
}
.navigationText > a:active {
  color: white;
}
.navigationText > a:hover {
  color: darkgray;
}
.navigationText a:hover {
  color: darkgray;
}
.livLogo {
  width: 50px;
  padding: 3% 0px 0px 30px;
}
.navigationLetterStyle {
  list-style-type: none;
  font-family: 'Anton', sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 25px;
}
.letterStyle {
  list-style-type: none;
  font-family: 'Anton', sans-serif;
  /* color:white; */
}
.tinted-image {
background:
linear-gradient(
  rgba(255, 204, 0, 0.80),
  rgba(255, 204, 0, 0.80)
  ), url("/images/city-image.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 700px;
  color: rgba(255, 255, 255, .75);
}
.textCentered {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Anton', sans-serif;
    font-size: 300px;
}
.title {
  color: rgba(255, 204, 0, 1.0);
  padding: 50px 0px 0px 0px;
  font-family: 'Passion One', cursive;
  text-transform: uppercase;
}
.descrip {
  color: rgba(175, 175, 175, 1.0);
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  padding: 0px 0px 50px 0px;
}

/* BEGINNING OF TONY CODE */
.test {
  color: green;
}
#client-select{
  width: 200px
}
#client-display {
  width:300px;
  height:300px;
  background-color: black;
  color: lightgrey;
}
.image > img {
  height: 200px;
  display: block;
  margin: 0 auto;
}
/* END OF TONY CODE */

.tryWord {
  font-size: 24px;
  text-align: center;
  color: orange;
}
.footer {
  background-color: rgba(255, 204, 0, 1);
}
.footerLetterStyle{
  list-style-type: none;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  color: white;
  text-decoration: none;
  font-size: 15px;
  margin: 0px 0px 0px 40px;
}
.footerLetterStyle > a:link {
  color: white;
}
.footerLetterStyle > a:visited {
  color: white;
}
.footerLetterStyle > a:active {
  color: white;
}
.footerLetterStyle > a:hover {
  color: darkgray;
}
.footerLetterStyle a:hover {
  color: darkgray;
}
.footerLetterStyle > a {
    text-decoration: none;
}
.clientFormat {
  margin: 40px 0px 10px 0px;
}
.clientTitle {
  color:gray;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 15px;
  text-align: center;
  padding: 0 5px;

}
.clientDescrip {
  color:darkgray;
  padding: 0 5px;
}
.location, .contact {
  margin: 40px 50px 25px 50px;
}
.contactTitle {
  font-weight: bold;
  color: #3E3E3E;
  font-family: 'Roboto', sans-serif;
}
.contactSpacing {
  padding: 0px 0px 10px 0px;
}
.formHeader > div {
    margin: 5px;
}
.formHeader > div > input {
    width: 100%;
    margin: 5px 5px 5px 0px;
}
.formHeader > div > textarea {
    width: 100%;
    margin: 5px 5px 5px 0px
}
.location > p {
    margin: 5px;
}
.end {
  color:white;
  text-align: center;
  background-color: #F2D334;
  padding: 50px 0;
}
.footerGrid > div > li > a {
  margin: 0 0 0 10px;
}
.siteMap {
    list-style-type: none;
    margin: 40px 0 0 40px;
    color: white;
      font-family: 'Anton', sans-serif;
}
.footerImage{
  background:
  linear-gradient(to right, rgba(255, 204, 0, 1), rgba(255, 204, 0, 0.5)
    ), url("/images/tech-artista.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 200px;
    color: rgba(255, 255, 255, .75);
  }
}
